body {
  font-family: "Muli", sans-serif;
  margin: 0;
}

input,
textarea,
button {
  font-family: "Muli", sans-serif;
}

input,
textarea {
  font-size: 16px;
}

.srOnly {
  position: absolute;
  width: 1;
  height: 1;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input:checked + label {
  border: 3px solid #6495ed;
}
